.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
}